<div class="col-md-offset-4 col-md-3">
	<%= image_tag("splash.png", size: "380x300", alt: "logo mezcalaria")  %>
	<a style="margin-top: 5px;" href="/ingresar" class="btn btn-success">Ingresar</a>
</div>