<div class="col-md-offset-3 col-md-6">
	<%= image_tag("splash.png", size: "555x440", alt: "logo mezcalaria", class: "col-md-12" )  %>

	<a style="margin-top: 5px;" href="https://play.google.com/store/apps/details?id=com.mezcalaria" target="_blank"  class="col-md-6" >
		<%= image_tag("play_store.png", alt: "play store", class: "col-md-12" )  %>
	</a>
	<a style="margin-top: 1px;" href="https://itunes.apple.com/us/app/mezcalaria/id1261222131?l=es&ls=1&mt=8" target="_blank" class="col-md-6" >
		<%= image_tag("app_store.png", size: "248x90", alt: "app store", class: "col-md-12" )  %>
	</a>

	<a style="margin-top: 5px;" href="/ingresar" class="btn btn-success col-md-offset-4 col-md-4 ">Ingresar</a>
</div>